<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 	
 	<filter>
    	<filter-name>FirstFilter</filter-name>
    	<filter-class>filter.FirstFilter</filter-class>
	</filter>
 
	<filter-mapping>
    	<filter-name>FirstFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
 	
 	<filter>
    	<filter-name>LoginFilter</filter-name>
    	<filter-class>filter.LoginFilter</filter-class>
	</filter>
 
	<filter-mapping>
    	<filter-name>LoginFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
 	
 	<listener>
    	<listener-class>listener.OnlineNumberListener</listener-class>
	</listener> 
 	
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlet.ProductListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductAddServlet</servlet-name>
        <servlet-class>servlet.ProductAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductAddServlet</servlet-name>
        <url-pattern>/productAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductGetServlet</servlet-name>
        <servlet-class>servlet.ProductGetServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductGetServlet</servlet-name>
        <url-pattern>/productGet</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>servlet.ProductDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/productDelete</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>servlet.ProductEditServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/productEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>servlet.CustomerListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <servlet-class>servlet.CustomerDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <url-pattern>/customerDelete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CustomerGetServlet</servlet-name>
        <servlet-class>servlet.CustomerGetServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CustomerGetServlet</servlet-name>
        <url-pattern>/customerGet</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>CustomerAddServlet</servlet-name>
        <servlet-class>servlet.CustomerAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CustomerAddServlet</servlet-name>
        <url-pattern>/customerAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerEditServlet</servlet-name>
        <servlet-class>servlet.CustomerEditServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CustomerEditServlet</servlet-name>
        <url-pattern>/customerEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductScanServlet</servlet-name>
        <servlet-class>servlet.ProductScanServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ProductScanServlet</servlet-name>
        <url-pattern>/productScan</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ItemListServlet</servlet-name>
        <servlet-class>servlet.ItemListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ItemListServlet</servlet-name>
        <url-pattern>/itemList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ItemAddServlet</servlet-name>
        <servlet-class>servlet.ItemAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ItemAddServlet</servlet-name>
        <url-pattern>/itemAdd</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ItemDeleteServlet</servlet-name>
        <servlet-class>servlet.ItemDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ItemDeleteServlet</servlet-name>
        <url-pattern>/itemDelete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ItemGetServlet</servlet-name>
        <servlet-class>servlet.ItemGetServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ItemGetServlet</servlet-name>
        <url-pattern>/itemGet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ItemEditServlet</servlet-name>
        <servlet-class>servlet.ItemEditServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ItemEditServlet</servlet-name>
        <url-pattern>/itemEdit</url-pattern>
    </servlet-mapping>
    
</web-app>